*~
backups/*
elpa/*
cnfonts/*

# individual files
*#
.emacs.desktop
.org-id-locations
ac-comphist.dat
bookmarks
emojis/*
eshell/*
*.db
projectile-bookmarks.eld
pyim/*
snippets/org-mode/C1
snippets/org-mode/C1 arrears
transient/*
url/*
yaoni.el
quelpa/*
straight/*
request/*
recentf
elpy/*
.lsp-session*
.emacs.desktop*
.cache/
smex-items
tramp
projects
*.png

*private*.el