[submodule "elpa/casease"]
	path = elpa/casease
	url = git@github.com:DogLooksGood/casease.git
[submodule "yas-snippets"]
	path = yas-snippets
	url = git@github.com:yatsky/yas-snippets.git
[submodule "site-lisp/lsp-bridge"]
	path = site-lisp/lsp-bridge
	url = git@github.com:manateelazycat/lsp-bridge.git
